<aside style="padding:10px 20px" class="col-2">
  <div class="list-group">
<a href="/" class="list-group-item list-group-item-action " >
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Categorias</h5>
  </div>
  <small>Busque seu filme a partir das categorias existentes</small>
</a>
      <a href="/lojas" class="list-group-item list-group-item-action " >
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Lojas</h5>
  </div>
  <small>Acessar o módulo de lojas</small>
</a>
      <a href="#" class="list-group-item list-group-item-action " >
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Clientes</h5>
  </div>
  <small>Acessar os clientes cadastrados</small>
</a>
      <a href="/filmes" class="list-group-item list-group-item-action " >
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Filmes</h5>
  </div>
  <small>Acessar os filmes cadastrados</small>
</a>

</div>
</aside>         
