<aside style="padding:0" class="col-2">
    <ul style="width: 100%; padding: 5px;" class="list-group list-group-flush">
        <li class="list-group-item">Categorias</li>
        <li class="list-group-item">Todos os Filmes</li>
        <li class="list-group-item">Atores</li>

      </ul>
</aside>